<h1>Add Entry</h1>
<form>
<md-input-container layout="100">
   <input type="text" ng-model="EC.descriptionIn" placeholder="Testing"/>
</md-input-container>
<md-input-container>
   <md-select ng-model="EC.projectIn" placeholder="Select a Project">
      <md-option ng-value="project.id" ng-repeat="project in EC.projectList">{{project.name}}</md-option> 
   </md-select>
</md-input-container>
<md-input-container>
   <md-datepicker ng-model="EC.dateIn" aria-label="datepicker" required></md-datepicker>
</md-input-container>
<md-input-container>
   <input type="time" ng-model="EC.startTimeIn" placeholder="start time"/>
</md-input-container>
<md-input-container>
      <input type="time" ng-model="EC.endTimeIn" placeholder="end time"/>
</md-input-container>
<md-input-container>
   <md-button class="md-primary md-raised" ng-click="EC.addEntry()">Submit</md-button>
</md-input-container>
</form>

<table ng-table ="entryTable">
      <thead>
            <th><md-button class="md-no-focus" ng-click="EC.sortEntries('description')">Entry</md-button></th>
            <th><md-button class="md-no-focus" ng-click="EC.sortEntries('project')">Project</md-button></th>
            <th><md-button class="md-no-focus" ng-click="EC.sortEntries('date')">Date</md-button></th>
            <th><md-button class="md-no-focus" ng-click="EC.sortEntries('hours')">Hours</md-button></th>
            <th>Delete</th>
      </thead>
      <tbody>
            <tr ng-repeat="entry in EC.entryList">
                  <td data-title="'Description'">{{entry.description}}</td>
                  <td data-title="'Project'">{{entry.project}}</td>
                  <td data-title="'Date'">{{entry.date | date: 'MM/dd/yyyy'}}</td>
                  <td data-title="'Hours'">{{entry.hours}}</td>
                  <td><md-button class="md-warn" ng-click="EC.deleteEntry(this)">Delete</md-button></td>
            </tr>
      </tbody>
</table>
